	body {
		background-color: 0xFFFFFF;
		background-image: url("../img/background.jpg");
		background-attachment: fixed;
	}

	.geiselImg {
		background-image: url("../img/geisel.png");
		background-repeat: no-repeat;
		background-position: bottom left;
		background-attachment: fixed;
		overflow: hidden;

		bottom: -50px;
		padding: 0;
		height: 660px;

	}

	a {
		color: #FFFFFF;
		text-decoration: none;
	}

	@font-face {
		font-family: 'breamcatcher';
		src: url("../bream_catcher-webfont.eot"),
	}

	.button {
		width: 450px;
		height: 100px;
		right: 100px;
		padding-top: 0px;
		padding-bottom: 45px;
		padding-left: 30px;
		position: absolute;
		font-family: breamcatcher;
		font-size: 130px;
		letter-spacing: 17px;
		color: #FFFFFF;
		text-align: center;

		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}

	.button:hover {
		opacity: 0.8;
		letter-spacing: 25px;
	}

	#lostb.button {
		background-color: #88CCAA;
		top: 130px;
		position: fixed;
	}

	#foundb.button {
		background-color: #F0C062;
		top: 410px;
		position: fixed;
	}

	#and {
		width: 470px;
		height: 120px;
		top: 290px;
		right: 100px;
<<<<<<< HEAD:Project/template/pages/homepage.css
		position: fixed;
		
=======
		position: absolute;

>>>>>>> c1b37a918240901d258fb31125b56140b902d49b:Project/template/index.html
		font-family: breamcatcher;
		font-size: 90px;
		text-align: center;
		color: #000000;
	}

	#credits {
		bottom: 15px;
		right: 15px;
<<<<<<< HEAD:Project/template/pages/homepage.css
		position: fixed;
		
=======
		position: absolute;

>>>>>>> c1b37a918240901d258fb31125b56140b902d49b:Project/template/index.html
		font-family: courier new;
		font-size: 11px;
		color: #000000;
	}
<<<<<<< HEAD:Project/template/pages/homepage.css
	
=======

</style>

<head>
</head>

<body>

	<a href="pages/listpage.html">
		<div id ="lostb" class="button"> lost </div>
	</a>

	<div id ="and"> & </div>

	<a href="#">
		<div id ="foundb" class="button"> found </div>
	</a>

	<div id ="credits"> &copy 2015 Furious 7. </div>

	<a href="">
		<div id ="topb" class="button"></div>
	</a>
</body>
>>>>>>> c1b37a918240901d258fb31125b56140b902d49b:Project/template/index.html
