	body {
		background-color: 0xFFFFFF;
		background-image: url("../img/background.jpg");
		background-attachment: fixed;
	}

	.geiselImg {
		background-image: url("../img/geisel.png");
		background-repeat: no-repeat;
		background-position: bottom left;
		background-attachment: fixed;
		overflow: hidden;

		bottom: -50px;
		padding: 0;
		height: 660px;

	}
	
	a {
		color: #FFFFFF;
		text-decoration: none;
	}
	
	@font-face {
		font-family: 'breamcatcher';
		src: url("../bream_catcher-webfont.eot"),
	}
	
	.button {
		width: 450px;
		height: 100px;
		right: 100px;
		padding-top: 0px;
		padding-bottom: 45px;
		padding-left: 30px;
		position: relative;
		
		font-family: breamcatcher;
		font-size: 130px;
		letter-spacing: 17px;
		color: #FFFFFF;
		text-align: center;

		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
	
	.button:hover {
		opacity: 0.8;
		letter-spacing: 25px;
	}
	
	#lostb.button {
		background-color: #88CCAA;
		top: 130px;
		position: fixed;
	}

	#foundb.button {
		background-color: #F0C062;
		top: 410px;
		position: fixed;
	}
	
	#and {
		width: 470px;
		height: 120px;
		top: 290px;
		right: 100px;
		position: fixed;
		
		font-family: breamcatcher;
		font-size: 90px;
		text-align: center;
		color: #000000;
	}
	
	#credits {
		bottom: 15px;
		right: 15px;
		position: fixed;
		
		font-family: courier new;
		font-size: 11px;
		color: #000000;
	}
	
