
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Need CSS -->
    <title>LOST FORM</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/lostform.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <!-- ADD BACKGROUND SO IT DOES NOT LOOK PLAIN -->
  <div id="page-wrapper">
      <div class="row">
          <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <div class="row">
          <div class="col-lg-12">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <h3>Lost Form </h3>
                      <p>Please fill this in so we can help find your lost item.</p>
                      <div class="table-responsive">
                          <table class="table table-bordered table-striped">
                              <thead>
                                  <tr>
                                      <th></th>
                                      <th>
                                          <!-- Title for the columns-->
                                      </th>

                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <th>Name</th>
                                      <td>First, Last</td>

                                  </tr>

                                  <tr>
                                      <th> Item Lost </th>
                                      <td> Name of item (general name) </td>

                                  </tr>

                                  <tr>
                                      <th>Location last seen </th>
                                      <td> somewhere in UCSD </td>

                                  </tr>


                                  <tr>
                                      <th>Item Description</th>
                                      <td> In less than 100 words describe your item. </td>
                                  </tr>

                              </tbody>
                          </table>
                      </div>
                      <p>Press submit when you are done. When your item is found someone will contact you. Feel free to search our Found Inventory for your item also.
                      </p>

                  </div>
              </div>
          </div>
          <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->


      <div class="panel-body">
          <p>
              <button type="button" class="btn btn-primary">SUBMIT</button>
          </p>
      </div>
