<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Need CSS -->
    <title>Found Items</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS-->
    <link href="../dist/css/newLostFound.css" rel="stylesheet" type="text/css">

    <!-- Morris Charts CSS -->
    <link href="../bower_components/morrisjs/morris.css" rel="stylesheet">


    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <script src="http://www.parsecdn.com/js/parse-1.1.15.min.js"></script>

    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper" class="active">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a href="newIndex.html">LOST & FOUND</a></li>
      </ul>
        <ul class="sidebar-nav" id="sidebar">
          <li><a href="newLostPage.html">Browse Lost</a></li>
          <li><a href="#">Report Lost</a></li>
          <li><a href="newFoundPage.html">Browse Found</a></li>
          <li><a href="#">Report Found</a></li>
        </ul>
      </div>
          
    <!-- Page content -->
    <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <div class="row">
                <div class="col-md-12">
                    <div class="topBar">
                        <div class="title">found items</div>
                    </div>
                    <div style="padding-top:80px">
                        <div class="col-md-3"></div>
                        <p class="well lead col-md-6" style="font-size:16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in neque ac nunc suscipit auctor ut a quam. Praesent tempor ornare odio, id consectetur arcu posuere sed. Etiam nisi tortor, ornare et nulla quis, venenatis tristique turpis. In lobortis vitae est et egestas. Morbi tincidunt dapibus mollis. Mauris sit amet sem sit amet nibh hendrerit gravida non eu elit. Praesent tempus blandit erat, in fringilla lectus ornare sed.

                        Integer imperdiet, risus a dignissim vulputate, velit arcu mattis felis, ut cursus ante felis et mi. Fusce nec risus consectetur dui porttitor bibendum eget porta purus. Pellentesque scelerisque nisl dolor, eget bibendum justo consectetur vitae. Pellentesque fermentum sollicitudin urna ut placerat. Suspendisse orci lorem, tempus eu rutrum mattis, eleifend sed nulla. Nam id leo id ipsum imperdiet ultrices. Nam sollicitudin hendrerit risus, eget pellentesque ex finibus ut. Morbi quis bibendum dui. Suspendisse efficitur tincidunt rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam elit sapien, tempus quis est non, scelerisque vestibulum dolor. Maecenas quis vulputate ligula, vel dictum nisl. Ut laoreet tempus tristique. Phasellus quis enim ut ante volutpat pellentesque. Curabitur luctus aliquet lacinia. Proin suscipit mi lectus, non aliquet augue maximus sit amet.

                        Nam viverra sem tortor, non accumsan nibh sodales eu. Fusce lobortis ligula nec ligula viverra condimentum. Proin accumsan turpis metus, porttitor mattis ex molestie et. Sed vestibulum, turpis vitae euismod blandit, turpis felis mollis dui, suscipit venenatis nibh tellus sed mi. Phasellus vestibulum malesuada nisi vitae facilisis. Phasellus lacinia posuere nibh, in malesuada turpis mattis sed. Nullam quis blandit lorem, at gravida arcu. Pellentesque suscipit orci ut tellus ultricies iaculis. Quisque id urna accumsan, euismod sapien eget, blandit nunc. Integer suscipit metus orci, ac semper metus semper ac. Duis eget diam est. Sed aliquet rutrum urna id aliquet.

                        Aenean id ligula commodo, dapibus massa sit amet, fringilla ante. Vivamus condimentum justo nec leo finibus, eget consectetur enim blandit. Vestibulum laoreet velit ullamcorper consectetur suscipit. Ut vitae dictum augue, eget sollicitudin arcu. Fusce posuere massa sit amet metus pellentesque efficitur. Nam iaculis lectus vitae lorem laoreet gravida. Vivamus ac urna ac erat elementum rutrum dictum blandit lorem. Nulla pulvinar, libero nec aliquam rhoncus, ligula enim interdum libero, sed dignissim neque arcu eget odio. Curabitur facilisis ultricies malesuada.

                        Proin consectetur malesuada lorem, eget pellentesque mi sodales a. Quisque placerat, dolor a malesuada cursus, nibh velit hendrerit ex, et aliquet risus nibh et lacus. Proin non suscipit felis. Morbi maximus at eros tempor fermentum. Fusce elementum nec augue id feugiat. Cras fermentum felis eu aliquam feugiat. Fusce congue, ligula vitae placerat interdum, elit ex porttitor lacus, vitae suscipit massa dolor at tellus.</p>

                        <div id ="credits"> &copy 2015 Furious 7. </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                        
</body>

</html>