<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Need CSS -->
  <title>Lost Items</title>

  <!-- Bootstrap Core CSS -->
  <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

  <!-- Custom CSS-->
  <link href="../dist/css/newLostFound.css" rel="stylesheet" type="text/css">

  <!-- Custom CSS-->
  <link href="../dist/css/listall.css" rel="stylesheet" type="text/css">

  <!-- Morris Charts CSS -->
  <link href="../bower_components/morrisjs/morris.css" rel="stylesheet">


  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

  <script src="http://www.parsecdn.com/js/parse-1.1.15.min.js"></script>

  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  <!-- Custom Fonts -->
  <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  </head>

  <body>

    <div id ='feed'>
    </div>



    
    <script src = '../js/listpage.js'> </script>
  </body>
